/* Estilos globais do App */
.App {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
  }
  
  .menu-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-btn a {
    color: white;
    text-decoration: none;
  }
  
  .menu-btn:hover {
    background-color: #45a049;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    text-align: center;
  }
  